      <form action="/calculator" method="GET">
        <input style="margin-top: 20px;" type="number" checked=""  name="soA" placeholder="So A" required step="0.1">
        <input style="margin-top: 20px;" type="number" name="soB" placeholder="So B" required step="0.1">
        <label for="operator">Phép tính:</label>
        <select name="operator" id="operator">
            <option value="cong">+</option>
            <option value="tru">-</option>
            <option value="nhan">*</option>
            <option value="chia">/</option>
        </select>
        <input class="subscribe-button" type="submit" value="Cal">
      </form>